/packages/core/node_modules
/packages/core/dist
/packages/serializable/node_modules
/packages/serializable/dist
/packages/common/node_modules
/packages/common/dist
/packages/mongoose/node_modules
/packages/mongoose/dist
/packages/angular/node_modules
/packages/angular/dist
/packages/common-backend/node_modules
/packages/common-backend/dist
/packages/sqlite/node_modules
/packages/sqlite/dist